# Backend API
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

# Stellar
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
NEXT_PUBLIC_EVENT_CONTRACT_ID=<deployed_event_contract_id>
NEXT_PUBLIC_TICKET_CONTRACT_ID=<deployed_ticket_contract_id>
NEXT_PUBLIC_PAYMENT_CONTRACT_ID=<deployed_payment_contract_id>
NEXT_PUBLIC_USDC_CONTRACT_ID=<usdc_token_contract_id>
